@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Kdam+Thmor+Pro&family=The+Nautigal:wght@400;700&display=swap');

body{
    background-color: antiquewhite;
}

*{

    margin: 0;
    padding: 0;
}

nav{
   font-family: 'Ubuntu',sans-serif;
}

nav ul li{
    padding: 15px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 50px;
    background-color: black; 
    color: white;
}
.brand img{
    width: 44px;
    padding:0 10px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder ;
    font-size: 1.3rem;
}

.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 55%;
    border-radius: 25px;
    padding: 34px;
    background-image: url('nice.jpg');
    background-repeat: no-repeat;
    background-size:920px 530px ;

       

}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.icons{
    margin: 8px;
}
.icons{
    cursor: pointer;
}

#myProgressBar{
    width: 85vw;
    cursor: pointer;
}
.songItem{
    height: 30px;
    display: flex;
    background-color: white;
   
    color: black;
    margin: 22px 0;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px ;

}

.songItem img{
    width: 40px;
    margin: 0 10px 0 10px;
    border-radius:50px ;
    cursor: pointer;
}
.timestamp i{
    cursor: pointer;
}
.timestamp{
    margin: 0 23px;
}
.songInfo{
 position: absolute;
  left:5vw ;
  font-family: 'Varela Round', sans-serif;
  
}
.songInfo img{
    height: 25px;
    width: 10rem;
    opacity: 0;
    transition: opacity 0.2 ease-in;
    
}